<h1>Страница бронирования билетов</h1>
{% for session in sessions %}
    {{ session.id }}
    <br>
{% endfor %}
<br>
<br>
<a href="{{ path('admin_create_movie') }}">На страницу управления фильмами</a>
<br>
<a href="{{ path('admin_create_session') }}">На страницу управления сессиями</a>
